.parallel-unit-card {
  display: flex;
  flex-direction: column;
  width: 300px
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  color: #fff;
}

.unit-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.growth-icon {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.total-amount {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.bars-section {
  width: 100%;
  margin-top: 0.5rem;
}

.bars-header {
  margin-bottom: 0.75rem;
  padding-left: 1.5rem;
}

/* Use index.css or bootstrap for card styles */
.bars-section-parallel {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
